// 基础样式，同时引入了 ariable.styl(设计规范样式) ，因为这个文件中的某些地方用到了设计规范的样式；
@import "variable.styl"

body, html
  line-height: 1
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif !important
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
