//将reset.styl 、base.styl 、icon.styl 文件引入到这个文件中，最终在main.js引入这个 index.styl；
@import "./reset.styl"
@import "./base.styl"
@import "./variable.styl"

// iconfont在线链接
@import "http://at.alicdn.com/t/font_1417581_2i248zy3sh4.css"