//设计规范，比如字号、颜色等；

// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
// 主题色
$color-theme = #14948a
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
.ft-sz-14 {
  font-size: 14px !important;
}
.ft-sz-16 {
  font-size: 16px !important;
}
.ft-sz-40 {
  font-size: 40px !important;
}

// ============= 基础栅格 .container栅格容器，用于覆盖bootstrap样式 =============
@media (min-width: 768px) {
  .container {
    width: 768px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px !important;
  }
}
@media (min-width: 1336px) {
  .container {
    width: 1336px !important;
  }
}

// ============= 基础栅格 .cont-inner栅格容器，用于覆盖bootstrap样式 =============
.cont-inner {
  margin: 0 auto;
  display: flex;
  position: relative;
}
@media (min-width: 1336px) {
  .cont-inner {
    width: 1220px !important;
  }
}




// ============= 重置BS导航栏栅格 =============================
@media (min-width: 1200px){
  .navbar {
    width: 1200px !important;
  }
}
@media (min-width: 1336px){
  .navbar {
    width: 1336px !important;
  }
}
